models/resnet50_waste_classifier_v3.keras filter=lfs diff=lfs merge=lfs -text
models/efficientnet_waste_classifier_v5.keras filter=lfs diff=lfs merge=lfs -text
models/mobilenet_waste_classifier_v4.keras filter=lfs diff=lfs merge=lfs -text
